<div class="row container">
  <div class="col s6 offset-s3">
    <div class="center">
        <i class="large material-icons">security</i>
        <h1 class="center-align">Login</h1>
    </div>
    <%= form_for :login do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email, autofocus: true %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "Log In" %>
      </div>
    <% end %>
  </div>
</div>