<!DOCTYPE html>
<html>
  <head>
    <title><%= @title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice %>
    <%= javascript_tag "M.toast({html: '#{notice}', classes: 'rounded'})" %>
    <% end %>
    <% if alert %>
      <%= javascript_tag "M.toast({html: '#{alert}', classes: 'rounded'})" %>
    <% end %>
    <%= yield %>
  </body>
</html>
